<!-- Loaded header.ejs template -->
<%- include ../partials/header.ejs %>

<!-- Loaded main_nav.ejs template -->
<%- include ../partials/main_nav.ejs %>
<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 id="edittitle"><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Contact's name"
                    name="name" 
                    value="<%= contact.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="contactTextField">Contact</label>
                    <input type="text" class="form-control"
                    id="contactTextField"
                    placeholder="Enter the Contact's Contact"
                    name="contact" 
                    value="<%= contact.contact %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="emailTextField">Email</label>
                    <input type="text" class="form-control"
                    id="emailTextField"
                    placeholder="Enter the Year of Contact's Email"
                    name="email" 
                    value="<%= contact.email %>"
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/contact-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>

<!--Loading footer class for the page-->
<footer class="page-footer font-small pt-4">
   
    <%- include ../partials/footer.ejs %>
<!-- Loaded bottom_nav.ejs template -->
<%- include ../partials/bottom_nav.ejs %>